{{ $collaborations := .Site.Data.research.collaborations }}
<section class="row row-gray padding-bottom-40 margin-bottom-20" id="collaborations">
  <div class="container">
    <h2 class="text-center margin-bottom-60">The Research team is supporting these groups</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-24">
          <ul class="list-inline list">
            {{ range $collaborations.items }}
              <li class="col-md-6 col-sm-12">
                <div class="featured-projects-item tpl-projects-research match-height-item-by-row" data-mh="m-header">
                  <div class="featured-projects-item-category category labels">{{ .name }}</div>
                  <div class="featured-projects-item-content">
                    <a href="{{ .url }}" class="link">
                      <img class="featured-projects-item-img img-responsive logo logo_alt" alt="{{ .name }}" src="{{ .logo }}" height="40">
                    </a>
                    <div class="featured-projects-item-text">
                      <p class="description">{{ .summary }}</p>
                    </div>
                  </div>
                  <div class="details">
                    <div class="featured-projects-website-url">
                      <a href="{{ .url }}">Visit Website</a>
                      <span class="featured-projects-website-url-bar"></span>
                    </div>
                  </div>
                </div>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
