/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../styles.less';

.newsroom-resources .tpl-cover .newsroom-resource-item-container {
  justify-content: flex-start;
}

.header-topic {
  // Hotfix for overflow caused by double row. Permanent fix should be to add a
  // row_class to jumbotron and set to "row row-no-gutters"
  .featured-jumbotron {
    overflow-x: hidden;
  }

  .featured-jumbotron {
      padding-top: 0;
      padding-bottom: 0;
  }

  .featured-jumbotron-dark {
    background-color: @black;

    .featured-jumbotron-headline {
      color: @white;
      font-size: 5rem;
      font-weight: 200;
    }

    .custom-jumbotron-main {
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      padding-bottom: 4rem;

      p {
        font-weight: 300;
      }

      & > * {
        width: 100%;
      }

      @media (min-width: @screen-md-min) {
        flex-direction: row;
      }
    }

    .featured-story-jumbotron {
      margin-bottom: unset;
    }

    .featured-story-jumbotron-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @media (min-width: @screen-md-min) {
        flex-direction: row;
      }
    }

    .featured-story-jumbotron-links {
      justify-self: flex-end;
    }

    .featured-story-jumbotron-content-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .featured-story-jumbotron-content-body {
      margin: 1rem;
    }

    @media (min-width: @screen-md-min) {
      .featured-jumbotron-end {
        margin-top: unset;
      }

      .featured-story-jumbotron {
        gap: unset;
      }

      .featured-story-jumbotron-content-title {
        margin-right: 0.8rem;
      }
    }
  }
}

// The orange background and size constraints should be on featured-container
// and not on featured-story-jumbotron.

.featured-jumbotron .eclipsefdn-featured-story .featured-container {
    background-color: @brand-primary-light;
}

.featured-jumbotron .featured-story-jubmotron {
  background: transparent;
}

